<!DOCTYPE html>
<html>
<head>
  <title>Testing and Debugging</title>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <input id="name" placeholder="Type a message" value="udit"/>
    <button id="connect" onclick="connectToSocket()">Connect</button>
    <br>
    <input id="msg" placeholder="Type a message" disabled/>
    <button id="sendmsg" onclick="sendMessage()" disabled>Send</button>
    <div class="ChatRoom" id="chatbox"></div>
    <script>
    const socket = io("http://127.0.0.1:8000");
    connectToSocket()
    let travel = {
        "answer": "",
        "qkey": 1,
        "ic":-1,
        "ql":[],
        "p":NaN,
        "r":NaN
    }
    let ql = {}
    let i = 0
    let answerStack;
    const updatedChat = (from, data, mode=0) =>{
        const chatbox = document.getElementById('chatbox');
        if (data == ""){
            chatbox.innerHTML += ""
        }else if(mode===1){
            chatbox.innerHTML+=`<br><span>${data}?</span>`
        }else{
            chatbox.innerHTML+=`<br><span>${from} : ${data}</span>`
        }
    }

    async function connectToSocket() {
        const name = document.getElementById("name").value;
        const msg = document.getElementById('msg');
        const button = document.getElementById("connect");
        const sendmsg = document.getElementById('sendmsg');
        button.disabled = true;
        msg.disabled = false;
        sendmsg.disabled = false;
        await socket.emit("set_name", { name: name })
    }
    async function sendMessage() {
        const name = document.getElementById("name").value;
        const msg = document.getElementById("msg");
        const qk = msg.getAttribute('data-question-key');
        if (qk==5){
            if (msg.value==="yes" || msg.value==="no"){
                updatedChat(data=ql[i],mode=1,"");
                answerStack[ql[i]]=msg.value
                i+=1;
                if (i===ql.length){
                    msg.setAttribute('data-question-key', 0)
                }
            }else{
                updatedChat("MedAi", "Answer in yes or no !")
            }
        }else{
            if (i===0){
                travel.answer = msg.value;
                await socket.emit("my_event", travel);
            }else{
                travel.answer = answerStack;
                console.log("this is answerStack", answerStack);
                await socket.emit("my_event", travel);
            }
        }
        updatedChat(name, msg.value)
        msg.value="";
    }

    socket.on("connect", () => {
        console.log("Connected:", socket.id);
    });

    socket.on("response", (data) => {
        const msg = document.getElementById("msg");
        travel.qkey = data['qkey']
        if (data['ql'].length!=0){
            let str = ""
            data['ql'].forEach((key, element) => {
                if (key!=data['ql'].length-1) str+=element+"<br>"
                else str+=element
            });
            if (data['qkey']==5){
                updatedChat("MedAi", data['q'])
                msg.setAttribute('data-question-key', data['qkey'])
                ql = data['ql']
                updatedChat("MedAi", ql[i])
                i++;
            }else{
                updatedChat("MedAi",str);
            }
        }else{
            updatedChat("MedAi",data['q']);
        }
        console.log(data)
    })
    </script>

</body>
</html>
